" =============================================================================
" FORD'S UNIFIED .IDEAVIMRC (v26) - UNIVERSAL GIT NAV
" =============================================================================
" Reload with: :source ~/.ideavimrc

" --- LEADER KEY ---
let mapleader = ' '

" --- OPTIONS ---
set number
set relativenumber
set clipboard=unnamedplus
set splitright
set hlsearch
set incsearch
set ignorecase
set smartcase
set easymotion

" --- WHICH-KEY SETUP ---
set which-key
set notimeout

" --- PLUGINS ---
set surround        " ys, cs, ds
set argtextobj      " daa, cia (arguments)
set exchange        " cx (swap)
set targets         " cin, da, (text objects)
set textobj-entire  " vae (select all)
set matchit         " % extends to HTML/If-Else
set commentary      " gcc (comment line)
set anyobject       " Custom text objects

" -- Yanky.nvim Emulation --
set highlightedyank
let g:highlightedyank_highlight_duration = 150

" =============================================================================
" 1. GIT & NAVIGATION
" =============================================================================

" --- CHANGE NAVIGATION (Universal) ---
" Try Diff Window jump first. If not in a Diff, use the Regular File jump.
" This makes ]c work EVERYWHERE.
nmap ]c <Action>(Diff.NextChange)<Action>(VcsShowNextChangeMarker)
nmap [c <Action>(Diff.PrevChange)<Action>(VcsShowPrevChangeMarker)

" --- FILE NAVIGATION (Diff Window) ---
" ]C (Shift+c) = Next File in the Compare/PR list
nmap ]C <Action>(Compare.Next)
nmap [C <Action>(Compare.Prev)

" --- ERROR NAVIGATION ---
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)


" --- GIT LEADER COMMANDS ---
" <leader>gs = Git Status (Opens Commit Sidebar to pick files)
nmap <leader>gs <Action>(ActivateCommitToolWindow)

" <leader>gd = Git Diff (Opens Editable Diff Window)
nmap <leader>gd <Action>(ShowDiff)

" <leader>ga = Git Add (Stage file/hunk in Diff view)
nmap <leader>ga <Action>(Vcs.Include)

" <leader>gc = Git Commit
nmap <leader>gc <Action>(CheckinProject)

" <leader>gb = Git Blame (Annotate)
nmap <leader>gb <Action>(Annotate)

" --- GIT EXTRAS ---
nmap <leader>gl <Action>(Vcs.UpdateProject)
nmap <leader>gp <Action>(Vcs.Push)
nmap <leader>ghs <Action>(Vcs.StageChangedLines)
nmap <leader>ghr <Action>(Vcs.RollbackChangedLines)
nmap <leader>gfh <Action>(Vcs.ShowTabbedFileHistory)


" =============================================================================
" 2. WINDOW MANAGEMENT & FOCUS
" =============================================================================

" --- SPLIT & MOVE (No Duplicates) ---
" <leader>bsr = Split Right & Move (Splits, jumps back, closes original)
nmap <leader>bsr <Action>(SplitVertically)<Action>(PrevSplitter)<Action>(CloseContent)

" <leader>bsd = Split Down & Move
nmap <leader>bsd <Action>(SplitHorizontally)<Action>(PrevSplitter)<Action>(CloseContent)

" --- STANDARD MOVING ---
" <leader>bmr = Throw tab to the split on the Right (if it exists)
nmap <leader>bmr <Action>(MoveTabToNextGroup)
nmap <leader>bml <Action>(MoveTabToPreviousGroup)

" --- WINDOW NAVIGATION ---
nmap <leader>wh <C-w>h
nmap <leader>wj <C-w>j
nmap <leader>wk <C-w>k
nmap <leader>wl <C-w>l

" --- RESIZING ---
nmap <leader>w= <Action>(StretchSplitToRight)
nmap <leader>w- <Action>(StretchSplitToLeft)
nmap <leader>w+ <Action>(StretchSplitToTop)
nmap <leader>w_ <Action>(StretchSplitToBottom)

" --- CLEANUP & FOCUS ---
" <leader>wc = Close Split
nmap <leader>wc <Action>(CloseContent)
" <leader>wo = Close Others (Maximize this split)
nmap <leader>wo <Action>(UnsplitAll)
" <leader>co = Close Other Tabs (Keep this file, close rest)
nmap <leader>co <Action>(CloseAllEditorsButActive)

" <leader>bo = Hide All Windows (Focus Mode)
map <leader>bo <Action>(HideAllWindows)
" <leader>z = Distraction Free Mode
map <leader>z <Action>(ToggleDistractionFreeMode)


" =============================================================================
" 3. CODE INTELLIGENCE (Go & Peek)
" =============================================================================

" gd = Go Definition
map gd <Action>(GotoDeclaration)

" gp = Go Peek (Show code in popup bubble)
map gp <Action>(QuickImplementations)

" gh = Go Hierarchy (Show Class Parents/Children)
map gh <Action>(TypeHierarchy)

" gs = Go Structure (File Outline)
map gs <Action>(FileStructurePopup)

" gr = Go References (Find Usages)
map gr <Action>(FindUsages)

" <leader>gt = Go Test (Jump between Code and Test)
nmap <leader>gt <Action>(GotoTest)

" K = Documentation
map K <Action>(QuickJavaDoc)

map gd <Action>(GotoDeclaration)
nmap <leader>gt <Action>(GotoTest)
map gD <Action>(GotoTypeDeclaration)
map gr <Action>(FindUsages)
map K <Action>(QuickJavaDoc)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>rn <Action>(RenameElement)
map <leader>ls <Action>(FileStructurePopup)
map <leader>e <Action>(ShowErrorDescription)



" =============================================================================
" 4. GENERAL UTILITIES
" =============================================================================

" -- Saving --
nmap <leader>w :w<CR>
nmap <leader>q :q<CR>

" -- Formatting --
map <leader>F <Action>(OptimizeImports)<Action>(ReformatCode)

" -- Search --
map <leader>ff <Action>(SearchEverywhere)
map <leader>fr <Action>(RecentFiles)
map <leader>fg <Action>(FindInPath)
map <leader>sp <Action>(SelectInProjectView) " Reveal in sidebar

" -- Comments --
map <C-_> <Action>(CommentByLineComment)
vnoremap <C-_> <Action>(CommentByLineComment)

" -- Clipboard History --
map <leader>yh <Action>(PasteMultiple)

" -- Tool Windows --
map <leader>t1 <Action>(ActivateTerminalToolWindow)
map <leader>ft <Action>(ActivateProjectToolWindow)

" -- Insert Mode Tweaks --
inoremap <C-BS> <C-w>
inoremap <C-j> <Down>
inoremap <C-k> <Up>


" =============================================================================
" 5. STRUCTURAL EDITING (Treesitter-ish)
" =============================================================================

" Smart Select (v -> expand)
vmap v <Action>(EditorSelectWord)
vmap <BS> <Action>(EditorUnSelectWord)

" Method Jumps
nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)

" Move Statements (Alt-j/k)
nmap <A-j> <Action>(MoveStatementDown)
nmap <A-k> <Action>(MoveStatementUp)
vmap <A-j> <Action>(MoveStatementDown)
vmap <A-k> <Action>(MoveStatementUp)

" Move Elements (Arguments/Parameters)
map <leader>[ <Action>(MoveElementLeft)
map <leader>] <Action>(MoveElementRight)


" =============================================================================
" 6. PLUGINS CONFIG
" =============================================================================

" --- FLASH / EASIMOTION ---
nmap f <Plug>(easymotion-s)
vmap f <Plug>(easymotion-s)
omap z <Plug>(easymotion-s)

" --- HARPOON ---
nmap <leader>ha <Action>(HarpoonerToggleFile)
nmap <leader>hh <Action>(HarpoonerToggleQuickMenu)
nmap <C-e> <Action>(HarpoonerShow)
nmap <leader>1 <Action>(HarpoonerOpenFile0)
nmap <leader>2 <Action>(HarpoonerOpenFile1)
nmap <leader>3 <Action>(HarpoonerOpenFile2)
nmap <leader>4 <Action>(HarpoonerOpenFile3)

" --- ANYOBJECT ---
let g:anyobject_included = "AnyVariable,AnyFunction,AnyConditional,AnyString,AnyClass"
